html {
  background: url("../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 170%;
  overflow: hidden;
  background-color:  #e9ebf3;
}

#grade_overlay {
  opacity: 0.06;
  height: 100vh;
  background-attachment: fixed;
  z-index: -3;
  -webkit-animation-name: overlayGlitch;
  -webkit-animation-duration: .15s;
  -webkit-animation-iteration-count: infinite;
}

#arrowicon {
  color: rgba(255, 255, 255, 0.9);
  font-size: 7vw;
  z-index: -2;
}

.backwrap {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-top: -178vw;
  margin-left: 45vw;
  overflow: hidden;
  position: relative;
  float: left;
}

.nextwrap {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-top: -11vw;
  margin-left: 45vw;
  overflow: hidden;
  position: relative;
  float: left;
}


@-webkit-keyframes overlayGlitch {
  from {
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 6%, rgba(255,255,255,0.88) 15%,     rgba(255,255,255,0) 26%, rgba(255,255,255,0) 58%, rgba(255,255,255,1) 74%, rgba(255,255,255,0) 93%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(6%, rgba(255,255,255,0)), color-stop(15%, rgba(255,255,255,0.88)), color-stop(26%, rgba(255,255,255,0)), color-stop(58%, rgba(255,255,255,0)), color-stop(74%, rgba(255,255,255,1)), color-stop(93%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 6%, rgba(255,255,255,0.88) 15%, rgba(255,255,255,0) 26%, rgba(255,255,255,0) 58%, rgba(255,255,255,1) 74%, rgba(255,255,255,0) 93%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 6%, rgba(255,255,255,0.88) 15%, rgba(255,255,255,0) 26%, rgba(255,255,255,0) 58%, rgba(255,255,255,1) 74%, rgba(255,255,255,0) 93%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 6%, rgba(255,255,255,0.88) 15%, rgba(255,255,255,0) 26%, rgba(255,255,255,0) 58%, rgba(255,255,255,1) 74%, rgba(255,255,255,0) 93%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 6%, rgba(255,255,255,0.88) 15%, rgba(255,255,255,0) 26%, rgba(255,255,255,0) 58%, rgba(255,255,255,1) 74%, rgba(255,255,255,0) 93%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
    }
  25% {
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 16%, rgba(255,255,255,0.73) 27%, rgba(255,255,255,0) 38%, rgba(255,255,255,0) 75%, rgba(255,255,255,0.69) 84%, rgba(255,255,255,0) 92%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(16%, rgba(255,255,255,0)), color-stop(27%, rgba(255,255,255,0.73)), color-stop(38%, rgba(255,255,255,0)), color-stop(75%, rgba(255,255,255,0)), color-stop(84%, rgba(255,255,255,0.69)), color-stop(92%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 16%, rgba(255,255,255,0.73) 27%, rgba(255,255,255,0) 38%, rgba(255,255,255,0) 75%, rgba(255,255,255,0.69) 84%, rgba(255,255,255,0) 92%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 16%, rgba(255,255,255,0.73) 27%, rgba(255,255,255,0) 38%, rgba(255,255,255,0) 75%, rgba(255,255,255,0.69) 84%, rgba(255,255,255,0) 92%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 16%, rgba(255,255,255,0.73) 27%, rgba(255,255,255,0) 38%, rgba(255,255,255,0) 75%, rgba(255,255,255,0.69) 84%, rgba(255,255,255,0) 92%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 16%, rgba(255,255,255,0.73) 27%, rgba(255,255,255,0) 38%, rgba(255,255,255,0) 75%, rgba(255,255,255,0.69) 84%, rgba(255,255,255,0) 92%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
    }
  75% {
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 33%, rgba(255,255,255,0.79) 44%, rgba(255,255,255,0) 54%, rgba(255,255,255,0) 90%, rgba(255,255,255,0.69) 95%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(33%, rgba(255,255,255,0)), color-stop(44%, rgba(255,255,255,0.79)), color-stop(54%, rgba(255,255,255,0)), color-stop(90%, rgba(255,255,255,0)), color-stop(95%, rgba(255,255,255,0.69)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 33%, rgba(255,255,255,0.79) 44%, rgba(255,255,255,0) 54%, rgba(255,255,255,0) 90%, rgba(255,255,255,0.69) 95%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 33%, rgba(255,255,255,0.79) 44%, rgba(255,255,255,0) 54%, rgba(255,255,255,0) 90%, rgba(255,255,255,0.69) 95%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 33%, rgba(255,255,255,0.79) 44%, rgba(255,255,255,0) 54%, rgba(255,255,255,0) 90%, rgba(255,255,255,0.69) 95%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 33%, rgba(255,255,255,0.79) 44%, rgba(255,255,255,0) 54%, rgba(255,255,255,0) 90%, rgba(255,255,255,0.69) 95%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
    }
  to {
    background: rgba(255,255,255,0.8);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.8) 3%, rgba(255,255,255,0) 15%, rgba(255,255,255,0) 56%, rgba(255,255,255,0.65) 64%, rgba(255,255,255,0) 72%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.8)), color-stop(3%, rgba(255,255,255,0.8)), color-stop(15%, rgba(255,255,255,0)), color-stop(56%, rgba(255,255,255,0)), color-stop(64%, rgba(255,255,255,0.65)), color-stop(72%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.8) 3%, rgba(255,255,255,0) 15%, rgba(255,255,255,0) 56%, rgba(255,255,255,0.65) 64%, rgba(255,255,255,0) 72%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.8) 3%, rgba(255,255,255,0) 15%, rgba(255,255,255,0) 56%, rgba(255,255,255,0.65) 64%, rgba(255,255,255,0) 72%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.8) 3%, rgba(255,255,255,0) 15%, rgba(255,255,255,0) 56%, rgba(255,255,255,0.65) 64%, rgba(255,255,255,0) 72%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.8) 3%, rgba(255,255,255,0) 15%, rgba(255,255,255,0) 56%, rgba(255,255,255,0.65) 64%, rgba(255,255,255,0) 72%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
    }
}
